#headerMount p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    padding-top: 45vh;
    text-align: center;
}

#menuContainer {
    justify-content: center;
    align-content: center;
}